
body, ul, li, p, div, span, img, a, h1, h2  {
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    background-color: #04aa6d;
    color: #fff;
}

.logo img {
    width: 14vw;
    height: 8vh;
    margin-left: 3vw;
}

.whole-list {
    width: 40vw;
}

.navlist {
    list-style: none;
    display: flex;
    font-size: large;
    justify-content: space-between;
}

.navlist li {
    margin-right: 15px;
    cursor: pointer;
}

.catlist {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #2f7a6a;
    padding: 10px;
    display: none;
    z-index: 2;
}

.catlist a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
}

.navlist li:hover {
    text-decoration: underline;
    font-size: 1.1em;
}

.navlist li:hover .catlist {
    display: block;
}

.searchbar img {
    height: 13vh;
    width: 15vw;
    cursor: pointer;
}

.searchbar {
    position: relative;
    margin-right: 3vw;
}

.searchbar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

.searchbar button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #04aa6d;
    color: #fff;
    padding: 20px;
}

.footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-heading {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email, .phone {
    margin-left: 20px;
}


.addressinfo a {
    color: #fff;
    text-decoration: none;
}

.getintouch a {
    color: #fff;
    text-decoration: none;
}

.copyrights {
    margin-top: 20px;
    text-align: center;
}

.emailbox {
    margin-top: 20px; 
}

.emailbox form {
    display: flex;
}

.emailbox input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.emailbox input[type="submit"] {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.emailbox input[type="submit"]:hover {
    background-color: #0056b3; 
}

.top-compartment {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: linear-gradient(#c8d8e4, #f4f4f4);
    color: #000;
}

.company-info {
    width: 50%;
}

.company-photo img {
    width: 100%;
    border-radius: 8px;
}

.product-compartment {
    background-color: #f4f4f4;

}

.top-products {
    display: flex;
    justify-content:space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.product-box {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-top: 20px;
}

.product-box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 30vh;
}

.expandbutton {
    text-align: center;
    margin-top: 20px; 
}

.expandbutton button {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.expandbutton button:hover {
    background-color: #0056b3;
}

.productlist-compartment {
    background-color: #f4f4f4;
}

.enlisted-products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enlist-template {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 48%;
}

.enlist-image {
    margin: 7px;
    border-radius: 8px;

}

.enlist-image img {
    border-radius: 6px;
    height: 150px;
    width: 230px;
}

.enlist-info {
    margin: 10px;
    width: 100%;
}

.enlist-heading {
    position: relative;
    height: 20%;
    margin-top: 0;
    margin-bottom: 5px;
}

.enlist-description {
    position: relative;
    height: 45%;
    margin-bottom: 10px;
}

.enlist-info-extra {
position: relative;
height: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-right: 5px;
}

.enlist-info-extra span {
    background-color: #04aa6d;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.achievement-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.ac-main-head {
    text-align: center;
    color: #333;
}
.achievement {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.ac-sub-head {
    margin-bottom: 10px;
    color: #333;
}
.achievement p {
    margin: 5px 0;
    color: #666;
}


